{%load static%}
<!DOCTYPE html>
<html>
<head>
    <title>login page</title>
</head>
<body>
    <h1>Login now</h1>
    {% for message in messages%}
    <h5>{{message}}</h5>
    {% endfor%}
    <form action= "login" method="POST">
    {%csrf_token%}
    <p>Username:</p>
    <input type="text" name="username"/> 
    <p>Password:</p>
    <input type="password" name="password"/>
    <p><input type="submit"/></p><br>
    <p>If you don't have account</p>
    <a href="register">Zarejestruj się</a>
</form>
</body>
</html>
