{%load static%}
<!DOCTYPE html>
<html>
<head>
    <title>main page</title>
</head>
<body>
    {%if user.is_authenticated%}
    <h1>Welcome {{user.username}} on main page!</h1>
    {%else%}
    <h1>Welcome stranger!</h1>
    {% endif %}
    {%if user.is_authenticated%}
    <a class="user_button" href="{% url 'todo' %}">Przejdź do Twojej listy zadań</a><br>
    <a class = "user_button"href="logout">Wyloguj się</a>
    {%else%}
    <a class = "user_button" href="login">Zaloguj się</a>
    {%endif%}
</body>
</html>
